.game-board
  .board-row(v-for="i in 3")
    square(v-for="j in 3" :key="index(i, j)" :value="squares[index(i, j)]" :is-highlight="isHighlight(index(i, j))" :handle-click="() => handleClick(index(i, j))")
